<body class="searchBody">
        {{!-- Search an artist --}}
        <div class="search">
            <form action="/artist-search" method="get">
                <input type="text" name="artist" placeholder="Search for artist...">
                <button type="submit">Search</button>
            </form>
        </div>
</body>
